__pycache__/
*.pyc
*.pyo
*.log

.git
.gitignore

.env
venv/
.env.examples
app/__pycache__/
app/instance/

node_modules
dist
Dockerfile
docker-compose.yml

frontend/node_modules
frontend/dist
__pycache__
*.pyc
frontend/.env
frontend/.git
frontend/.gitignore
frontend/docker-compose.yml
frontend/Dockerfile
frontend/.env.example

